html, body
{
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header
{
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #003b64;
  text-align: center;
}

header img
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}

.btn-primary
{
  background-color: #ffe000;
  color: #2e3337;
  border-color: #ffe000;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#accept-page
{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin: 50px auto 0 auto;
  padding: 30px 5px;
}
   
#accept-page form
{
  line-height: 26px;
  text-align: center;
}

#accept-page form button
{
  margin: 20px auto;
}
