<div id="customer-info-page" class="header-offset">

  <h1>Request Information</h1>
  
  <form>
  
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">First Name:</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="customer.firstname" />
      </div>
    </div>
    <label>Last Name: <input type="text" ng-model="customer.lastname" /></label> <br>
    <label>E-mail: <input type="email" ng-model="customer.email" /></label> <br>
    <label>Phone: <input type="text" ng-model="customer.phone" /></label> <br>
    <label>Address: <input type="text" ng-model="customer.address" /></label> <br>
    <label>City: <input type="text" ng-model="customer.city" /></label> <br>
    <label>Postal Code: <input type="text" ng-model="customer.postal" /></label> <br>
    <label>Select a time frame</label>
    <select ng-model="customer.timeframe">
      <option>Within the hour</option>
      <option>Anytime today</option>
      <option>Tomorrow</option>
    </select>
    <input type="submit" ng-click="update(customer)" value="Submit" />
  </form>
  
</div>